body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.car-collection {
  padding: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.car-collection {
  padding: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-image img {
  display: grid;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h2 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 0;
}

.card.selected {
  border-color: #007BFF;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(0, 123, 255, 0.5);
  z-index: 1;
}
